h2 メンバーリスト

p サバゲ部のメンバーを管理できます

a.btn(
  ng-click="",
  class="btn-primary  btn-block  btn-outlined",
  href="javascript:void(0)"
)
  .icon(class="icon-plus") メンバー追加

ul.members
  li.members__member(ng-repeat="member in members")
    .members__summary(ng-show="!member.isEditorShow")
      .members__name {{member.name}}
      .members__state
        .members__state-item
          .members__btn-toggle(
            class="toggle"
            ng-class="{ 'active': member.isAwaken, '': !member.isAwaken }"
            ng-checked="member.isAwaken"
            ng-click="member.isAwaken=!member.isAwaken"
            ng-model="member.isAwaken"
            data-isAwakenLabel="参加"
            data-isntAwakenLabel="不参加"
          )
            .toggle-handle
        .members__state-item
          a.members__btn-edit(
            class="btn"
            ng-click="showEdit(member)",
            href="javascript:void(0)"
          ) 編集
    .members-form(ng-show="member.isEditorShow")
      .members-form__row
        .members-form__label 名前
        .members-form__value
          input(ng-model="member.name", type="text")
      .members-form__btns
        .members-form__btns-item
          a.btn(
            ng-click="save(member)",
            class="btn-positive btn-block btn-outlined",
            href="javascript:void(0)"
          )
            .icon(class="icon-edit")
        .members-form__btns-item
          a.btn(
            ng-click="delete(member)"
            class="btn-negative btn-block btn-outlined",
            href="javascript:void(0)"
          )
            .icon(class="icon-trash")
        .members-form__btns-item
          a.btn(
            ng-click="hideEdit(member)"
            class="btn btn-block btn-outlined",
            href="javascript:void(0)"
          )
            .icon(class="icon-close")


a.mail-template__button-create(
  ng-click="toggleMailForm($event)"
  ng-class="{'active': isMailFormShow}"
)
  span 起床メール作成


.mail-template(ng-show="isMailFormShow")
  .mail-template__heading
    h3.mail-template__heading-title 起床メールを作成しました
    .mail-template__heading-extra
      a.mail-template__button-closeMailForm(
        ng-click="toggleMailForm($event)"
      )

  .mail-template__text
    p 選択ボタンをクリックするとテキストが選択されるので、コピーしてご利用ください。
  .mail-template__textarea
    textarea(nt-select-on-focus, nt-mail-template-str, readonly)
  .mail-template__buttons
    a.mail-template__button-select(nt-select-on-click) テキストを選択する
