h2 スパイ決め

.spy-buttons
  a.spy-buttons__btn-assign(
    ng-click="modalShow = true"
    href="javascript:void(0)"
  ) スパイを選出する

.teams
  .teams__toggler
    .teams__toggler-item.active(
      ng-class="{ 'active': showFirstTeam, '': !showFirstTeam }"
      ng-click="showFirstTeam = true; showSecondTeam = false"
    ) 赤：{{teams.first.length}}人
    .teams__toggler-item(
      ng-class="{ 'active': showSecondTeam, '': !showSecondTeam }"
      ng-click="showFirstTeam = false; showSecondTeam = true"
    ) 黄：{{teams.second.length}}人

  .teams__team.active(ng-class="{ 'active': showFirstTeam, '': !showFirstTeam }")
    p 役割の確認を行い、その後相手チームにスパイを確認してもらってください。
    .spy-buttons
      a.spy-buttons__btn-assign(
        ng-click="assignRole('first')",
        href="javascript:void(0)"
      ) 赤チームメンバーの役割を確認
      a.spy-buttons__btn-check(
        ng-click="checkSpy('first')",
        href="javascript:void(0)"
      ) 赤チームのスパイを確認
    p 赤チームは以下のメンバーです
    ul.members
      li.members__member(ng-repeat="member in teams.first") {{member.name}}

  .teams__team(ng-class="{ 'active': showSecondTeam, '': !showSecondTeam }")
    p 役割の確認を行い、その後相手チームにスパイを確認してもらってください。
    .spy-buttons
      a.spy-buttons__btn-assign(
        ng-click="assignRole('second')",
        href="javascript:void(0)"
      ) 黄チームメンバーの役割を確認
      a.spy-buttons__btn-check(
        ng-click="checkSpy('second')",
        href="javascript:void(0)"
      ) 黄チームのスパイを確認
    p 黄チームは以下のメンバーです
    ul.members
      li.members__member(ng-repeat="member in teams.second") {{member.name}}


// スパイの再設定用モーダル
.spy-modal(ng-class!="{ 'active':modalShow, '':!modalShow }")
  .bar.bar-nav
    h1.title スパイの再選出
  .spy-modal__content
    .spy-modal__heading
      h2 スパイを決め直します
    .spy-modal__text
      p 問題なければ「決め直す」ボタンを押してください
    a.spy-modal__btn-show(
      ng-click="assignSpy()",
      href="javascript:void(0)"
    ) 決め直す
    a.spy-modal__btn-cancel(
      ng-click="modalShow = !modalShow",
      href="javascript:void(0)"
    ) キャンセル


// 赤チームのスパイ確認モーダル
.spy-modal(ng-class!="{ 'active':showFirstSpy, '':!showFirstSpy }")

  .bar.bar-nav
    h1.title 赤チームのスパイ確認

  .spy-modal__content(ng-show="!showSpy")
    .spy-modal__heading
      h2 注意
    .spy-modal__text
      p
        | あなたは
        strong 黄チーム
        | ですか？
    .spy-buttons
      a.spy-buttons__btn-show(
        ng-click!="showSpy = !showSpy",
        href="javascript:void(0)"
      ) はい
      a.spy-buttons__btn-cancel(
        ng-click!="closeSpyModal()",
        href="javascript:void(0)"
      ) いいえ

  .spy-modal__content(ng-show="showSpy")
    .spy-modal__heading
      h2 赤チームのスパイは
    .spy-modal__text
      p
        strong {{teams.spy.first.name}}
        | さんです
    .spy-buttons
      a.spy-buttons__btn-cancel(
        ng-click!="closeSpyModal()",
        href="javascript:void(0)"
      ) 閉じる


// 黄チームのスパイ確認モーダル
.spy-modal(ng-class!="{ 'active':showSecondSpy, '':!showSecondSpy }")

  .bar.bar-nav
    h1.title 黄チームのスパイ確認

  .spy-modal__content(ng-show="!showSpy")
    .spy-modal__heading
      h2 注意
    .spy-modal__text
      p
        | あなたは
        strong 赤チーム
        | ですか？
    .spy-buttons
      a.spy-buttons__btn-show(
        ng-click!="showSpy = !showSpy",
        href="javascript:void(0)"
      ) はい
      a.spy-buttons__btn-cancel(
        ng-click!="closeSpyModal()",
        href="javascript:void(0)"
      ) いいえ

  .spy-modal__content(ng-show="showSpy")
    .spy-modal__heading
      h2 赤チームのスパイは
    .spy-modal__text
      p
        strong {{teams.spy.second.name}}
        | さんです
    .spy-buttons
      a.spy-buttons__btn-cancel(
        ng-click!="closeSpyModal()",
        href="javascript:void(0)"
      ) 閉じる


//赤チームメンバーの役割確認
.spy-modal(ng-class!="{ 'active':showFirstRole, '':!showFirstRole }")

  .bar.bar-nav
    h1.title 赤チームの役割を確認をします

  .spy-modal__content(ng-show!="!showRole && !shownRole")
    .spy-modal__heading
      h2 役割を確認します
    .spy-modal__name {{identifier.name}}さん
    .spy-modal__text 他の人に見えないように自分の役割を確認して下さい
    .spy-buttons
      a.spy-buttons__btn-show(
        ng-click!="showRole = true",
        href="javascript:void(0)"
      )
        .icon.icon-search 自分の役割を確認する

  .spy-modal__content(ng-show="showRole")
    .spy-modal__heading
      h2 役割を確認して下さい
    .spy-modal__name {{identifier.name}}さん
    .spy-modal__text
      p(ng-show="identifier.isSpy")
        | あなたは
        strong スパイです
      p(ng-show="!identifier.isSpy")
        | あなたは
        strong スパイではありません
    .spy-buttons
      a.spy-buttons__btn-next(
        ng-click="nextRole()",
        href="javascript:void(0)"
      )
        .icon.icon-right 次の人へ

  .spy-modal__content(ng-show="shownRole")
    .spy-modal__heading
      h2 相手側に渡す
    .spy-modal__text
      p
        | 黄チームの人に渡してください
        br
        | 赤チームの人は下のボタンを押さないでください
    .spy-buttons
      a.spy-buttons__btn-assign(
        ng-click="assignRole('second')",
        href="javascript:void(0)"
      ) 黄チームのスパイを決める
      a.spy-buttons__btn-cancel(
        ng-click!="showFirstRole = false; showSecondRole = false",
        href="javascript:void(0)"
      ) この画面を閉じる


//黄チームメンバーの役割確認
.spy-modal(ng-class!="{ 'active':showSecondRole, '':!showSecondRole }")

  .bar.bar-nav
    h1.title 黄チームの役割を確認します

  .spy-modal__content(ng-show!="!showRole && !shownRole")
    .spy-modal__heading
      h2 役割を確認します
    .spy-modal__name {{identifier.name}}さん
    .spy-modal__text 他の人に見えないように自分の役割を確認して下さい
    .spy-buttons
      a.spy-buttons__btn-show(
        ng-click!="showRole = true",
        href="javascript:void(0)"
      )
        .icon.icon-search 自分の役割を確認する

  .spy-modal__content(ng-show="showRole")
    .spy-modal__heading
      h2 役割を確認して下さい
    .spy-modal__name {{identifier.name}}さん
    .spy-modal__text
      p(ng-show="identifier.isSpy")
        | あなたは
        strong スパイです
      p(ng-show="!identifier.isSpy")
        | あなたは
        strong スパイではありません
    .spy-buttons
      a.spy-buttons__btn-next(
        ng-click="nextRole()",
        href="javascript:void(0)"
      )
        .icon.icon-right 次の人へ

  .spy-modal__content(ng-show="shownRole")
    .spy-modal__heading
      h2 相手側に渡す
    .spy-modal__text
      p
        | 赤チームの人に渡してください
        br
        | 黄チームの人は下のボタンを押さないでください
    .spy-buttons
      a.spy-buttons__btn-assign(
        ng-click="assignRole('first')",
        href="javascript:void(0)"
      ) 赤チームのスパイを決める
      a.spy-buttons__btn-cancel(
        ng-click!="showFirstRole = false; showSecondRole = false",
        href="javascript:void(0)"
      ) この画面を閉じる
