h2 チーム分け
.division(ng-show="!modalShow")

  div(ng-show="!isInitializedTeam()")
    p
      | まだチームが作成されていません。
    p
      a.btn.btn-primary.btn-block.btn-outlined.division__btn(
        ng-click="",
        href="#js-shuffle-modal"
      )
        span.icon.icon-refresh チームをシャッフルする

  div(ng-show="isInitializedTeam()")
    p
      | 以下のように割り振りされました。
    p
      a.btn.btn-primary.btn-block.btn-outlined.division__btn(
        ng-click="",
        href="#js-shuffle-modal"
      )
        span.icon.icon-refresh チームを再度シャッフルする

  .teams(ng-show="isInitializedTeam()")
    .teams__toggler
      a.teams__toggler-item(
        ng-class="{ 'active': team.showContent }"
        ng-click="toggleTeamTab(team)",
        ng-repeat="team in teams",
        href="javascript:void(0)"
      ) {{team.label}}：{{team.length}}人

    .teams__team.active
      | {{currentTeam.label}}
      ul.members
        li.members__member(ng-repeat="member in currentTeam.members")
          .members__summary
            .members__name {{member.name}}
            .members__state
              .members__state-item
                .members__btn-changeTeam チーム移動

#js-shuffle-modal.modal.division-modal(ng-class="")
  .bar.bar-nav
    h1.title チームシャッフル
    a.icon.icon-close.pull-right(href="#js-shuffle-modal")
  .content.content-padded
    p
      | チームのシャッフルを行います。
      br
      | よろしいですか？

    a.btn.btn-positive.btn-block.btn-outlined.division__btn-submit(
      ng-click="shuffleMembers()",
      href="#js-shuffle-modal"
    )
      span.icon.icon-refresh シャッフルする

    a.btn.btn-negative.btn-block.btn-outlined.division__btn-cancel(
      href="#js-shuffle-modal"
    )
      span.icon.icon-close キャンセル
